# Android build outputs & local properties
/.gradle
/captures/
/local.properties
GeneratedPluginRegistrant.java
.cxx/

# Android Signing Credentials & Keystores (never commit to git)
key.properties
**/*.keystore
**/*.jks
